

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

* {
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  max-width: 100vw;
}

#root {
  max-width: 100vw;
  overflow-x: hidden;
}
